.tips {
  text-align: center;
}
.button {
  width: 100%;
}
//TagEdit CSS
.actions {
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  .removeTags,
  .removeTagsAndItems {
    width: 100%;
  }
}
