.dateAndAmount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace; //使日期和数字为等宽字体
    padding: 16px;
    border-top: 1px solid var(--button-border-color);
    >.date{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;
        color: var(--date-text);
        .icon{
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
    }
    >.amount{
        font-size: 20px;
        color: var(--amount-text);
    }
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--button-border-color);
    >button {
        border: none;
        border-right: 1px solid var(--button-border-color);
        border-bottom: 1px solid var(--button-border-color);
        width: 25%;
        height: 48px;
        //button有默认背景色，我们改为透明
        background: transparent;
        //删除每行第四个按键的右侧边框，保持其与手机边缘齐平
        &:nth-child(4n){
            border-right: none;
        }
        //删除每列第四个按键的右侧边框，保持其与手机边缘齐平
        &:nth-child(13),&:nth-child(14),&:nth-child(15),&:nth-child(16){
            border-bottom: none;
        }
    }
}