:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5d33be;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  //浮层分级最好采用八进制整数，留下拓展空间
  --z-index-bottom-nav: 8; 
  --z-index-overlay: 16;
  --transition-duration: 0.5s;
  --button-bg: #5C33BE; //Button组件背景色
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);//使浮动按钮与button的颜色一致，也可视情况单独设置
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-text:white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);//浮动菜单右边的半透明黑
  --overlay-bg: white;
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --top-safe-area-height: 24px;//手机留海预留高度
}